*{
  margin: 0;
  padding:0;
}
#container{
  width: 1200px;
  height: 1000px;
  margin: 0.5em auto;
  padding: 0.5em;
}
 header{
  height: 15%;
  background-color: #248CC9;
  border-radius: 1em;
  margin: 1em;
}
nav{
  height: 10%;
  border-radius: 1em;
  margin: 1em;
}
main{
  height: 97%;
  background-color: #ffffff;
  margin: 1em;
}
footer{
  height: 15%;
  background-color: #424242;
  border-radius: 1em;
  margin: 1em;
}
.logo{
  height: 90%;
  width: 26%;
  /* background-color: #248CC9; */
  border-radius: 1em;
  float: left;
  margin: 0.5em;
}
.img-logo{
  height: 60%;
   width: 50%;
  margin-top: 20px;
  margin-left: 5em;
  box-shadow: 3px 15px 12px 3px #3535358a
}
.nav-header{
  height: 90%;
  width: 71%;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
}
ul {
  width: 100%;
  height: 134px;
  display: flex;
  border-radius: 1rem;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
.aTag{
  text-decoration: none;
  color: wheat;
  font-size: 20px;
  box-shadow: 3px 15px 12px 3px #3535358a;
}
nav ul li a:hover{
  background-color: #0E3250;
}
#section-main{
  height: 95%;
  width: 71%;
  background-color: #a4a4a4;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
}
#aside-main{
  height: 95%;
  width: 25%;
  background-color: #a4a4a4;
  border-radius: 1em;
  float: left;
  margin: 0.5em;
}
.img-photo{
  margin: 1em;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: -4px 4px 10px 3px #3535358a;
}
.icon-contact{
  font-size: 20px;
  color: black;
  margin: 5px;
  padding: 10px;
}
.article{
width: 96%;
height: 27%;
background: #424242;
margin: 1em;
border-radius: 1em;
}
/*
styles Cards
*/
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #e7e7e7;
}
/* Credit Card */
.credit-card {
width: 240px;
    height: 100px;
    margin: 24px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}



.form-header {
    height: 41px;
    padding: 17px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}

.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}
